{% extends 'pageBaseAuth.html' %}

{% block pageContent %}

<div class="container">

  {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
             <div class="alert alert-dismissible alert-danger">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <strong>{{ message }}</strong>
            </div>
          {% endfor %}
       {% endif %}
  {% endwith %}

  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="/groups">My Groups</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/creategroup">Create New Group</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/viewgroupinvites">View Group Invitations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/sendgroupinvite">Send Group Invitation</a>
  </li>
  </ul>
  
  <div class="jumbotron">
     <div style="display:grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px">
        {% for item in data["groups"] %}
          <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
          <div class="card-header">Invited By: {{ item[0] }}</div>
          <div class="card-body">
            <h4 class="card-title">{{ item[1] }}</h4>
            <p name = "message" class="card-text">"{{ item[2] }}"</p>
	    <form method="POST" action = "/groups?groupID={{ item[0] }}">
              <button class="btn btn-secondary btn-sm" type="submit">Leave Group</button>
            </form>
	  </div>
          </div>
        {% endfor %}
    </div>
	
    </div>
</div>
{% endblock %}
