{% extends 'pageBase.html' %}

{% block pageContent %}
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <div class="row">
        <h1 class="display-1">Welcome!</h1>
        <h4 class="display-4">All The Events is here to help!<h3>
      </div>
      <div class="row" >
        <h5>How It Works<h5>
        <hr/>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-4">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

            <div class="card-body">
              <h4 class="card-title">Join</h4>
              <p class="card-text">Sign up for All The Events with your email and login.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">Create</h4>
              <p class="card-text">Create events and fill out the information.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">Invite</h4>
              <p class="card-text">Add your friends to the event invites so that they are in the loop.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
