{% extends 'pageBaseAuth.html' %}

{% block pageContent %}

<div class="container">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="/invitations">My Invitations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/sentinvitations">View Sent Invitations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/createinvitation">Send Event Invitation</a>
  </li>
  </ul>
  
  <div class="jumbotron">
     <div style="display:grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px">
        {% for item in data["invitationInfo"] %}
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Invite From: {{ item["inviterUsername"] }}</div>
          <div class="card-body">
            <h4 class="card-title">{{ item["eventDesc"] }}</h4>
            <p name = "message" class="card-text">{{ item["message"] }}</p>
	    <form method="POST" action = "/invitations?eventID={{ item["eventID"] }}&inviterUsername={{ item["inviterUsername"] }}">
              <button class="btn btn-secondary btn-sm" type="submit">Accept</button>
            </form>
	  </div>
          <div class="card-footer text-muted">
    	      Time: {{ item["eventTime"] }}, Location: {{ item["eventLoc"] }}
  	  </div>
          </div>
        {% endfor %}
    </div>

	
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Event ID</th>
            <th scope="col">Inviter Username</th>
            <th scope="col">Invitee Username</th>
            <th scope="col">Invitation Message</th>
	  </tr>
        </thead>
        <tbody>
          {% for item in data["invitations"] %}
          <tr class="table-success">
            <th scope="row">{{item[0]}}</th>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
	    <td>
	      <form class="form-inline my-2 my-lg-0">
      		<button class="btn btn-secondary btn-sm" type="submit">Accept</button>
              </form>
	    </td>
          </tr>
          {% endfor %}
        </tbody>
    </div>
</div>
{% endblock %}
