{% extends 'pageBaseAuth.html' %}

{% block pageContent %}

<div class="container">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/invitations">My Invitations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="/sentinvitations">View Sent Invitations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/createinvitation">Send Event Invitation</a>
  </li>
  </ul>
  
  <div class="jumbotron"> 
    {% for item in data["invitations"] %}
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <form method="POST">
      <div class="card-header">Sent To: {{ item[1] }}</div>
      <div class="card-body">
      <h4 class="card-title">Primary card title</h4>
      <p name = "message" class="card-text">{{ item[3] }}</p>
      <button class="btn btn-secondary btn-sm" type="submit">Rescind</button>
      </div>
      </form>
    </div>
     {% endfor %}
    

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Event ID</th>
            <th scope="col">Inviter Username</th>
            <th scope="col">Invitee Username</th>
            <th scope="col">Invitation Message</th>
	  </tr>
        </thead>
        <tbody>
          {% for item in data["invitations"] %}
          <form method = "POST">
	  <tr class="table-success">
            <th name = "eventID" scope="row">{{item[0]}}</th>
            <td name = "inviterID">{{ item[1] }}</td>
            <td name = "inviteeID">{{ item[2] }}</td>
            <td name = "message">{{ item[3] }}</td>
	    <td>
      		<button class="btn btn-secondary btn-sm" type="submit">Rescind</button>
	    </td>
          </tr>
	  </form>
          {% endfor %}
        </tbody>
    </div>
</div>
{% endblock %}
