{% extends 'pageBaseAuth.html' %}

{% block pageContent %}

<div class="container">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/invitations">My Invitations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="/sentinvitations">View Sent Invitations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/createinvitation">Send Event Invitation</a>
  </li>
  </ul>
  
  <div class="jumbotron">
    <div style="display:grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px">	 
    {% for item in data["invitationInfo"] %}
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Sent To: {{ item["inviteeUsername"] }}</div>
      <div class="card-body">
      <h4 class="card-title">{{ item["eventDesc"] }}</h4>
      <p name = "message" class="card-text">{{ item["message"] }}</p>
      <button class="btn btn-secondary btn-sm" type="button" data-toggle="modal" data-target="#myModal">Rescind</button>
      </div>
    </div>
     {% endfor %}
    </div>


    <div class="modal" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Event ID</th>
            <th scope="col">Inviter Username</th>
            <th scope="col">Invitee Username</th>
            <th scope="col">Invitation Message</th>
	  </tr>
        </thead>
        <tbody>
          {% for item in data["invitations"] %}
	  <tr class="table-success">
            <th name = "eventID" scope="row">{{item[0]}}</th>
            <td name = "inviterID">{{ item[1] }}</td>
            <td name = "inviteeID">{{ item[2] }}</td>
            <td name = "message">{{ item[3] }}</td>
	    <td>
		<form method="POST" action = "/sentinvitations?eventID={{ item[0] }}&inviteeUsername={{ item[2] }}">
      		<button class="btn btn-secondary btn-sm" type="submit">Rescind</button>
	    	</form>
	    </td>
          </tr>
          {% endfor %}
        </tbody>
    </div>
</div>
{% endblock %}
