{% extends 'pageBaseAuth.html' %}

{% block pageContent %}
  <div class="jumbotron">
    <form method="POST">
      {{ form.csrf_token }}
      <fieldset>
        <label class="form-label mt-4" for="descriptionInput"> {{- form.description.label -}}: </label>
        {{ form.description(class="form-control", id="descriptionInput", value=data['event']['name']) }}
      </fieldset>
      <div class="row">
        <div class="col">
          <fieldset>
            <label class="form-label mt-3" for="dayInput"> {{- form.day.label -}}: </label>
            {{ form.day(class="form-control", id="dayInput", value=data['event']['day']) }}
          </fieldset>
        </div>
        <div class="col">
          <fieldset>
            <label class="form-label mt-3" for="monthInput"> {{- form.month.label -}}: </label>
            {{ form.month(class="form-control", id="monthInput", default=data['event']['month']) }}
          </fieldset>
        </div>
        <div class="col">
          <fieldset>
            <label class="form-label mt-3" for="yearInput"> {{- form.year.label -}}: </label>
            {{ form.year(class="form-control", id="yearInput", value=data['event']['year']) }}
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <fieldset>
            <label class="form-label mt-3" for="hourInput"> {{- form.hour.label -}}: </label>
            {{ form.day(class="form-control", id="hour", value=data['event']['hour']) }}
          </fieldset>
        </div>
        <div class="col">
          <fieldset>
            <label class="form-label mt-3" for="minuteInput"> {{- form.minute.label -}}: </label>
            {{ form.minute(class="form-control", id="minuteInput", value=data['event']['minute']) }}
          </fieldset>
        </div>
        <div class="col">
          <fieldset>
            <label class="form-label mt-3" for="amPmInput"> {{- form.amPm.label -}}: </label>
            {{ form.amPm(class="form-control", id="amPmInput", default=data['event']['amPm']) }}
          </fieldset>
        </div>
      </div>
      <fieldset>
        <label class="form-label mt-4" for="locationInput"> {{- form.location.label -}}: </label>
        {{ form.location(class="form-control", id="locationInput", value=data['event']['location']) }}
      </fieldset>
      <fieldset>
        <label class="form-label mt-4" for="accessStatusInput"> {{- form.accessStatus.label -}}: </label>
        {{ form.accessStatus(class="form-control", id="accessStatusInput", value=data['event']['accessStatus']) }}
      </fieldset>
      <fieldset>
        <label class="form-label mt-4" for="ownerInput"> {{- form.ownerUsername.label -}}: </label>
        {{ form.ownerUsername(class="form-control", id="ownerInput", value=data['event']['ownerUsername'], readonly=true) }}
      </fieldset>
      <fieldset>
        <label class="form-label mt-4" for="creatorInput"> {{- form.creatorUsername.label -}}: </label>
        {{ form.creatorUsername(class="form-control", id="creatorInput", value=data['event']['creatorUsername'], readonly=true) }}
      </fieldset>
    </form>
  </div>
{% endblock %}