{% extends 'pageBaseAuth.html' %}

{% block pageContent %}
<div class="container">


  <div class="jumbotron">
    <div class="card mb-12">
      <div class="card-body">
        <h3 class="card-title">{{ data["event"][1] }}</h3>
        <h5 class="card-subtitle">
          {% if data["event"][5] == "private" %}
            Private Event 
          {% elif data["event"][5] == "public" %}
            Public Event
          {% endif %}
        </h5>
        <div id="googleMap">
          <iframe
            width="600" height="450" style="border:0" loading="lazy" allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0uh4E8rV6zVSlRRa6LfljlUEFato8ry4&q={{ data["event"][3] }}">
          </iframe>
        </div>
      </div>
    </div>
  </div>
  {% if data["eventId"] %}
    <h3>Looking for eventId: {{ data["eventId"] }}</h3>
  {% endif %}
</div>

<style>
  #googleMap {
    display: block;
    align-content: center;
    align-items: center;
  }
</style>

{% endblock %}