{% extends 'pageBaseAuth.html' %}

{% block pageContent %}
<div class="container">
  <div class="jumbotron">
    <!-- Title-->
    <div class="row" justify="center" id="eventInfoHeader">
      <h1>{{ data["event"]["name"] }}</h1>

      <!--  TODO: Uncomment and see if this works -->
      <!-- {% if data["currentUserId"] == data["event"]["ownerUsername"] %} -->
      <a href="/event/edit/{{- data["event"]["eventId"] -}}">
        <button type="button" class="btn btn-secondary">Edit Event</button>
      </a>
      <!--  {% endif %}  -->
    </div>

    <!-- Row for Main Info and Additonal Info-->
    <div class="row" justify="center" id="cardRow">

      <!-- Card for Main Info -->
      <div class="card mb-9" id="mainCard">
        <div class="card-body">
          <h4 class="card-subtitle">{{ data["event"]["date"] }} </h4>
          <br/>
          <h4 class="card-subtitle">{{ data["event"]["time"] }} </h4>
          <hr/>
          <h4 class="card-text">{{ data["event"]["location"] }}</h4>
          <br />
          <div id="googleMap">
            <iframe
              width="600" height="450"
              id="googleMap" style="border:0" loading="lazy" allowfullscreen
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0uh4E8rV6zVSlRRa6LfljlUEFato8ry4&q={{ data["event"]["location"] }}">
            </iframe>
          </div>
        </div>
      </div>
      <!-- Card for Additional Info -->
      <div class="card mb-2" id="additionalInfoCard">
        <div class="card-body">
          <h5 class="card-title">{{ data["event"]["associatedSchool"] }}</h5>
          <hr/>
          <h5 class="card-subtitle">
            {% if data["event"]["accessType"] == "private" %}
              Private Event 
            {% elif data["event"]["accessType"] == "public" %}
              Public Event
            {% endif %}
          </h5>
          <hr/>
          <h5 class="card-text">Organized By:</h5> 
          <h5 class="card-text"> {{ data["event"]["ownerName"] }} </h5>
          {% if data["event"]["ownerUsername"] != data["event"]["creatorUsername"] %}
            <hr/>
            <h5 class="card-text">Created By:</h5> 
            <h5 class="card-text"> {{ data["event"]["creatorName"] }} </h5>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Row for Event Postings and Polls -->
    <div class="row" justify="center" id="cardRow">
      <!-- Column for Event Postings -->
      {% if data['numEventPostings'] > 0 %}
      <div class="col">
        <div class="card mb-2" id="postsCard">
          <div class="card-body">
              <h5 class="card-title">Posts</h5>
              {% for eventPost in data['eventPostings'] %}
                <hr />
                <h5 class="card-subtitle">{{ eventPost[2] }} posted: </h5>
                <p class="card-text">{{ eventPost[3] }}</p>
              {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Column  -->
    </div>
  </div>
</div>

<style>

  #eventInfoHeader {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #cardRow {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #mainCard {
    margin-top: 1em;
    display: block;
  }

  #additionalInfoCard {
    margin-top: 1em;
    display: block;
  }

  #postsCard {
    margin-top: 1em;
    display: block;
  }

  #pollsCard {
    margin-top: 1em;
    display: block;
  }

</style>

{% endblock %}